language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm
  - hhvm-nightly

matrix:
  allow_failures:
    - php: hhvm-nightly

script:
  - phpunit --coverage-text --coverage-clover=coverage.clover

# upload coverage file to scrutinizer
after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

before_install:
  - composer self-update

install:
  - composer install
